*{
    margin:0;
}
nav{
    display:flex;
    justify-content: space-between;
    color:white;
    background-color:black;
    padding: 20px;
    font-size: 1.5rem;
}
h1{
    margin-bottom: 15px;
    color: black;
}
.menu-container{
    width: 50vw;
    display:flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color:white;
}
.site-body{
    display:flex;
    justify-content:space-between;
    padding:50px;
}
h2{
    color: b;
}
